In [3]:
import pandas as pd

In [4]:
import datetime
(datetime.datetime.today()).strftime('%Y-%m-%d')

'2023-09-12'

In [5]:
import yfinance as yf

end_date = datetime.datetime.today().strftime('%Y-%m-%d')
start_date = (datetime.datetime.today() - datetime.timedelta(days=365*10)).strftime('%Y-%m-%d')

tesla_data = yf.download('TSLA', start=start_date, end=end_date)
apple_data = yf.download('AAPL', start=start_date, end=end_date)
amazon_data = yf.download('AMZN', start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [6]:
import matplotlib.pyplot as plt
tesla_data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2013-09-16  11.200000  11.390000  11.056667  11.105333  11.105333  113623500
2013-09-17  11.005333  11.228000  10.890667  11.082000  11.082000   82453500
2013-09-18  11.138000  11.163333  10.946667  11.081333  11.081333   81595500
2013-09-19  11.386667  12.031333  11.272000  11.861333  11.861333  233919000
2013-09-20  11.926667  12.388667  11.904000  12.226000  12.226000  201025500

In [7]:
apple_data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-09-05,188.279999,189.979996,187.610001,189.699997,189.699997,45280000
2023-09-06,188.399994,188.850006,181.470001,182.910004,182.910004,81755800
2023-09-07,175.179993,178.210007,173.539993,177.559998,177.559998,112488800
2023-09-08,178.350006,180.240005,177.789993,178.179993,178.179993,65551300
2023-09-11,180.070007,180.300003,177.339996,179.360001,179.360001,58863800

In [8]:
!pip install scipy

Requirement already satisfied: scipy in /Users/siqi/opt/anaconda3/lib/python3.9/site-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /Users/siqi/opt/anaconda3/lib/python3.9/site-packages (from scipy) (1.21.5)

In [9]:
!pip install requests

Requirement already satisfied: requests in /Users/siqi/opt/anaconda3/lib/python3.9/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/siqi/opt/anaconda3/lib/python3.9/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/siqi/opt/anaconda3/lib/python3.9/site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/siqi/opt/anaconda3/lib/python3.9/site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /Users/siqi/opt/anaconda3/lib/python3.9/site-packages (from requests) (2021.10.8)

In [10]:
import requests

# Replace 'YOUR_API_KEY' with your actual Alpha Vantage API key
api_key = '2YW9PTCOWXKLLTNS'

# Define the ETF symbol you want to retrieve data for (e.g., QQQ for Invesco QQQ Trust)
qqq_symbol = 'QQQ'
spdr_symbol = 'SPY'
ishr_symbol = 'IWM'

# Define the desired output format (JSON or CSV)
output_format = 'json'

# Define the start and end dates for the date range
end_date = datetime.datetime.today().strftime('%Y-%m-%d')
start_date = (datetime.datetime.today() - datetime.timedelta(days=365*10)).strftime('%Y-%m-%d')


base_url = 'https://www.alphavantage.co/query'

def fetch_etf_data(api_key, symbol, output_format, start_date, end_date):
    # Define the API parameters
    params = {
        'function': 'TIME_SERIES_DAILY',  # Daily time series data
        'symbol': symbol,
        'outputsize': 'full',  # Retrieve full historical data
        'datatype': output_format,
        'apikey': api_key,
        'start_date': start_date,  # Specify the start date
        'end_date': end_date      # Specify the end date
    }

    try:

        response = requests.get(base_url, params=params)
        data = response.json() if output_format == 'json' else response.text

        # Check for API request success
        if 'Time Series (Daily)' in data:
            return data['Time Series (Daily)']
        else:
            print("API request was not successful. Check your API key or symbol.")
            return None

    except Exception as e:
        print(f"An error occurred: {e}")
        return None


invesco_data = pd.DataFrame(fetch_etf_data(api_key, qqq_symbol, output_format, start_date, end_date))
ishares_data = pd.DataFrame(fetch_etf_data(api_key, ishr_symbol, output_format, start_date, end_date))
spdr_data = pd.DataFrame(fetch_etf_data(api_key, spdr_symbol, output_format, start_date, end_date))

In [11]:
spdr_data = spdr_data.T
ishares_data = ishares_data.T
invesco_data = invesco_data.T

In [12]:
invesco_data

             1. open   2. high    3. low  4. close 5. volume
2023-09-11  375.6600  377.4900  373.6600  376.9700  39936634
2023-09-08  372.0100  374.8500  371.6000  372.5800  35847359
2023-09-07  370.2100  372.8500  369.1500  372.0600  52060716
2023-09-06  377.2800  377.6300  372.7000  374.7400  42998735
2023-09-05  376.7700  379.3093  375.8300  378.0700  32344222
...              ...       ...       ...       ...       ...
1999-11-05  137.8000  138.4000  136.4000  136.4000   7567300
1999-11-04  135.4000  135.6000  133.6000  135.0000  10024300
1999-11-03  132.8000  134.3000  132.4000  133.5000   9376300
1999-11-02  131.5000  133.1000  130.4000  130.9000   6417400
1999-11-01  131.5000  133.1000  130.6000  130.8000   4840900

[6003 rows x 5 columns]

In [13]:
ishares_data

             1. open   2. high    3. low  4. close 5. volume
2023-09-11  185.2600  185.7200  184.2000  184.3600  17424653
2023-09-08  184.5600  184.8300  183.4500  183.9200  19413292
2023-09-07  185.1400  185.3800  183.5900  184.3300  23894847
2023-09-06  187.0600  188.0900  185.0900  186.1300  26406222
2023-09-05  189.6500  189.9000  186.7700  186.8300  27160094
...              ...       ...       ...       ...       ...
2000-06-02  101.7000  102.4000  101.7000  102.4000     14700
2000-06-01   97.1100   97.3100   97.1100   97.3100      3500
2000-05-31   95.1300   96.3800   95.1300   95.7500     18000
2000-05-30   92.7500   94.8100   92.7500   94.8100     28800
2000-05-26   91.0600   91.4400   90.6300   91.4400     37400

[5859 rows x 5 columns]

In [14]:
import requests
import json
from datetime import datetime, timedelta

# Define the API key
api_key = "5DyC56vN-RWdz61xD4-m"

# Define the start and end dates for the historical data
start_date = datetime.now() - timedelta(days=365 * 10)
end_date = datetime.now()

# Define the API URL for the historical data
url = f"https://www.quandl.com/api/v3/datasets/BCHAIN/MKPRU/data.json?start_date={start_date}&end_date={end_date}&api_key={api_key}"

# Get the response from the API
response = requests.get(url)

# Convert the response to a JSON object
data = response.json()

# Print the historical Bitcoin price

In [15]:
data

{'dataset_data': {'limit': None,
  'transform': None,
  'column_index': None,
  'column_names': ['Date', 'Value'],
  'start_date': '2013-09-14',
  'end_date': '2023-09-12',
  'frequency': 'daily',
  'data': [['2023-09-12', 25162.7],
   ['2023-09-11', 25832.82],
   ['2023-09-10', 25894.31],
   ['2023-09-09', 25906.03],
   ['2023-09-08', 26243.47],
   ['2023-09-07', 25753.31],
   ['2023-09-06', 25785.3],
   ['2023-09-05', 25810.86],
   ['2023-09-04', 25969.05],
   ['2023-09-03', 25869.09],
   ['2023-09-02', 25802.1],
   ['2023-09-01', 25932.99],
   ['2023-08-31', 27301.12],
   ['2023-08-30', 27731.23],
   ['2023-08-29', 26108.31],
   ['2023-08-28', 26088.78],
   ['2023-08-27', 26006.44],
   ['2023-08-26', 26049.42],
   ['2023-08-25', 26165.4],
   ['2023-08-24', 26426.74],
   ['2023-08-23', 26036.91],
   ['2023-08-22', 26123.41],
   ['2023-08-21', 26189.99],
   ['2023-08-20', 26090.7],
   ['2023-08-19', 26047.05],
   ['2023-08-18', 26662.05],
   ['2023-08-17', 28701.48],
   ['2023-08-16', 29169.09],
   ['2023-08-15', 29413.8],
   ['2023-08-14', 29283.84],
   ['2023-08-13', 29412.84],
   ['2023-08-12', 29399.18],
   ['2023-08-11', 29433.98],
   ['2023-08-10', 29565.82],
   ['2023-08-09', 29768.29],
   ['2023-08-08', 29181.71],
   ['2023-08-07', 29041.01],
   ['2023-08-06', 29048.01],
   ['2023-08-05', 29075.0],
   ['2023-08-04', 29183.41],
   ['2023-08-03', 29152.45],
   ['2023-08-02', 29683.61],
   ['2023-08-01', 29228.49],
   ['2023-07-31', 29274.94],
   ['2023-07-30', 29359.89],
   ['2023-07-29', 29316.12],
   ['2023-07-28', 29213.94],
   ['2023-07-27', 29344.56],
   ['2023-07-26', 29226.18],
   ['2023-07-25', 29178.42],
   ['2023-07-24', 30081.88],
   ['2023-07-23', 29774.36],
   ['2023-07-22', 29907.88],
   ['2023-07-21', 29802.29],
   ['2023-07-20', 29912.48],
   ['2023-07-19', 29859.24],
   ['2023-07-18', 30144.2],
   ['2023-07-17', 30240.28],
   ['2023-07-16', 30291.67],
   ['2023-07-15', 30330.22],
   ['2023-07-14', 31485.37],
   ['2023-07-13', 30391.64],
   ['2023-07-12', 30622.7],
   ['2023-07-11', 30411.71],
   ['2023-07-10', 30214.55],
   ['2023-07-09', 30214.55],
   ['2023-07-08', 30344.53],
   ['2023-07-07', 29918.04],
   ['2023-07-06', 30502.55],
   ['2023-07-05', 30774.87],
   ['2023-07-04', 31150.92],
   ['2023-07-03', 30618.25],
   ['2023-07-02', 30591.53],
   ['2023-07-01', 30471.5],
   ['2023-06-30', 30449.16],
   ['2023-06-29', 30083.59],
   ['2023-06-28', 30699.11],
   ['2023-06-27', 30266.7],
   ['2023-06-26', 30458.97],
   ['2023-06-25', 30548.59],
   ['2023-06-24', 30692.8],
   ['2023-06-23', 29903.73],
   ['2023-06-22', 29992.98],
   ['2023-06-21', 28326.8],
   ['2023-06-20', 26848.8],
   ['2023-06-19', 26337.08],
   ['2023-06-18', 26509.82],
   ['2023-06-17', 26326.23],
   ['2023-06-16', 25575.69],
   ['2023-06-15', 25127.04],
   ['2023-06-14', 25921.42],
   ['2023-06-13', 25904.32],
   ['2023-06-12', 25933.06],
   ['2023-06-11', 25852.82],
   ['2023-06-10', 26483.52],
   ['2023-06-09', 26507.33],
   ['2023-06-08', 26352.2],
   ['2023-06-07', 27243.64],
   ['2023-06-06', 25747.2],
   ['2023-06-05', 27125.02],
   ['2023-06-04', 27073.27],
   ['2023-06-03', 27251.93],
   ['2023-06-02', 26814.77],
   ['2023-06-01', 27213.71],
   ['2023-05-31', 27704.0],
   ['2023-05-30', 27744.66],
   ['2023-05-29', 28082.7],
   ['2023-05-28', 26873.18],
   ['2023-05-27', 26719.74],
   ['2023-05-26', 26477.29],
   ['2023-05-25', 26327.38],
   ['2023-05-24', 27223.19],
   ['2023-05-23', 26849.97],
   ['2023-05-22', 26756.57],
   ['2023-05-21', 27124.48],
   ['2023-05-20', 26889.6],
   ['2023-05-19', 26833.27],
   ['2023-05-18', 27398.27],
   ['2023-05-17', 27036.39],
   ['2023-05-16', 27191.97],
   ['2023-05-15', 26926.17],
   ['2023-05-14', 26785.94],
   ['2023-05-13', 26803.05],
   ['2023-05-12', 26993.2],
   ['2023-05-11', 27617.14],
   ['2023-05-10', 27640.09],
   ['2023-05-09', 27691.41],
   ['2023-05-08', 28456.84],
   ['2023-05-07', 28903.41],
   ['2023-05-06', 29535.38],
   ['2023-05-05', 28851.84],
   ['2023-05-04', 29007.66],
   ['2023-05-03', 28678.29],
   ['2023-05-02', 28086.65],
   ['2023-05-01', 29264.14],
   ['2023-04-30', 29244.68],
   ['2023-04-29', 29329.63],
   ['2023-04-28', 29480.35],
   ['2023-04-27', 28429.72],
   ['2023-04-26', 28301.71],
   ['2023-04-25', 27516.48],
   ['2023-04-24', 27590.55],
   ['2023-04-23', 27816.18],
   ['2023-04-22', 27267.99],
   ['2023-04-21', 28243.02],
   ['2023-04-20', 28829.57],
   ['2023-04-19', 30393.64],
   ['2023-04-18', 29447.1],
   ['2023-04-17', 30315.39],
   ['2023-04-16', 30319.32],
   ['2023-04-15', 30486.05],
   ['2023-04-14', 30407.6],
   ['2023-04-13', 29899.24],
   ['2023-04-12', 30234.98],
   ['2023-04-11', 29656.24],
   ['2023-04-10', 28336.18],
   ['2023-04-09', 27956.01],
   ['2023-04-08', 27925.55],
   ['2023-04-07', 28039.94],
   ['2023-04-06', 28180.4],
   ['2023-04-05', 28169.5],
   ['2023-04-04', 27802.23],
   ['2023-04-03', 28185.2],
   ['2023-04-02', 28465.04],
   ['2023-04-01', 28479.75],
   ['2023-03-31', 28033.06],
   ['2023-03-30', 28355.92],
   ['2023-03-29', 27274.72],
   ['2023-03-28', 27141.23],
   ['2023-03-27', 27999.84],
   ['2023-03-26', 27496.06],
   ['2023-03-25', 27496.2],
   ['2023-03-24', 28332.42],
   ['2023-03-23', 27306.32],
   ['2023-03-22', 28191.53],
   ['2023-03-21', 27790.89],
   ['2023-03-20', 28045.84],
   ['2023-03-19', 26975.39],
   ['2023-03-18', 27462.77],
   ['2023-03-17', 25053.64],
   ['2023-03-16', 24376.39],
   ['2023-03-15', 24767.46],
   ['2023-03-14', 24213.74],
   ['2023-03-13', 22205.32],
   ['2023-03-12', 20656.78],
   ['2023-03-11', 20224.85],
   ['2023-03-10', 20363.36],
   ['2023-03-09', 21698.33],
   ['2023-03-08', 22197.49],
   ['2023-03-07', 22410.62],
   ['2023-03-06', 22427.56],
   ['2023-03-05', 22348.51],
   ['2023-03-04', 22351.72],
   ['2023-03-03', 23467.36],
   ['2023-03-02', 23641.68],
   ['2023-03-01', 23128.3],
   ['2023-02-28', 23497.62],
   ['2023-02-27', 23563.11],
   ['2023-02-26', 23176.76],
   ['2023-02-25', 23192.02],
   ['2023-02-24', 23946.39],
   ['2023-02-23', 24185.67],
   ['2023-02-22', 24438.1],
   ['2023-02-21', 24834.81],
   ['2023-02-20', 24290.18],
   ['2023-02-19', 24641.94],
   ['2023-02-18', 24572.97],
   ['2023-02-17', 23544.67],
   ['2023-02-16', 24340.73],
   ['2023-02-15', 22211.8],
   ['2023-02-14', 21787.99],
   ['2023-02-13', 21787.25],
   ['2023-02-12', 21861.84],
   ['2023-02-11', 21638.55],
   ['2023-02-10', 21794.05],
   ['2023-02-09', 22964.87],
   ['2023-02-08', 23254.79],
   ['2023-02-07', 22763.74],
   ['2023-02-06', 22936.95],
   ['2023-02-05', 23328.24],
   ['2023-02-04', 23440.09],
   ['2023-02-03', 23454.41],
   ['2023-02-02', 23722.02],
   ['2023-02-01', 23133.91],
   ['2023-01-31', 22836.09],
   ['2023-01-30', 23755.85],
   ['2023-01-29', 23032.23],
   ['2023-01-28', 23075.81],
   ['2023-01-27', 23008.29],
   ['2023-01-26', 23089.74],
   ['2023-01-25', 22634.47],
   ['2023-01-24', 22924.37],
   ['2023-01-23', 22724.23],
   ['2023-01-22', 22772.5],
   ['2023-01-21', 22693.45],
   ['2023-01-20', 21087.76],
   ['2023-01-19', 20672.78],
   ['2023-01-18', 21145.18],
   ['2023-01-17', 21190.49],
   ['2023-01-16', 20880.99],
   ['2023-01-15', 20955.15],
   ['2023-01-14', 19933.36],
   ['2023-01-13', 18859.32],
   ['2023-01-12', 17934.6],
   ['2023-01-11', 17443.68],
   ['2023-01-10', 17192.07],
   ['2023-01-09', 17108.41],
   ['2023-01-08', 16945.2],
   ['2023-01-07', 16951.97],
   ['2023-01-06', 16826.41],
   ['2023-01-05', 16850.63],
   ['2023-01-04', 16669.6],
   ['2023-01-03', 16671.54],
   ['2023-01-02', 16613.71],
   ['2023-01-01', 16526.78],
   ['2022-12-31', 16599.69],
   ['2022-12-30', 16630.49],
   ['2022-12-29', 16539.28],
   ['2022-12-28', 16699.0],
   ['2022-12-27', 16915.7],
   ['2022-12-26', 16826.86],
   ['2022-12-25', 16838.1],
   ['2022-12-24', 16779.71],
   ['2022-12-23', 16818.68],
   ['2022-12-22', 16813.62],
   ['2022-12-21', 16904.64],
   ['2022-12-20', 16439.89],
   ['2022-12-19', 16745.99],
   ['2022-12-18', 16783.6],
   ['2022-12-17', 16637.6],
   ['2022-12-16', 17357.47],
   ['2022-12-15', 17802.44],
   ['2022-12-14', 17771.03],
   ['2022-12-13', 17206.87],
   ['2022-12-12', 17098.61],
   ['2022-12-11', 17124.99],
   ['2022-12-10', 17128.55],
   ['2022-12-09', 17234.58],
   ['2022-12-08', 16836.05],
   ['2022-12-07', 17085.45],
   ['2022-12-06', 16967.02],
   ['2022-12-05', 17117.57],
   ['2022-12-04', 16894.23],
   ['2022-12-03', 17091.23],
   ['2022-12-02', 16971.57],
   ['2022-12-01', 17170.62],
   ['2022-11-30', 16432.73],
   ['2022-11-29', 16208.96],
   ['2022-11-28', 16420.2],
   ['2022-11-27', 16453.47],
   ['2022-11-26', 16507.44],
   ['2022-11-25', 16592.67],
   ['2022-11-24', 16606.77],
   ['2022-11-23', 16194.75],
   ['2022-11-22', 15759.61],
   ['2022-11-21', 16260.41],
   ['2022-11-20', 16687.8],
   ['2022-11-19', 16683.22],
   ['2022-11-18', 16682.44],
   ['2022-11-17', 16662.24],
   ['2022-11-16', 16873.56],
   ['2022-11-15', 16587.96],
   ['2022-11-14', 16310.3],
   ['2022-11-13', 16776.4],
   ['2022-11-12', 16990.26],
   ['2022-11-11', 17550.23],
   ['2022-11-10', 15856.95],
   ['2022-11-09', 18540.11],
   ['2022-11-08', 20598.44],
   ['2022-11-07', 20920.33],
   ['2022-11-06', 21292.67],
   ['2022-11-05', 21152.93],
   ['2022-11-04', 20208.16],
   ['2022-11-03', 20153.99],
   ['2022-11-02', 20486.26],
   ['2022-11-01', 20499.29],
   ['2022-10-31', 20628.5],
   ['2022-10-30', 20816.16],
   ['2022-10-29', 20601.63],
   ['2022-10-28', 20288.52],
   ['2022-10-27', 20772.36],
   ['2022-10-26', 20101.27],
   ['2022-10-25', 19338.9],
   ['2022-10-24', 19565.91],
   ['2022-10-23', 19205.45],
   ['2022-10-22', 19171.34],
   ['2022-10-21', 19046.83],
   ['2022-10-20', 19125.65],
   ['2022-10-19', 19330.74],
   ['2022-10-18', 19548.97],
   ['2022-10-17', 19265.53],
   ['2022-10-16', 19063.1],
   ['2022-10-15', 19184.71],
   ['2022-10-14', 19383.33],
   ['2022-10-13', 19156.21],
   ['2022-10-12', 19049.64],
   ['2022-10-11', 19132.52],
   ['2022-10-10', 19441.88],
   ['2022-10-09', 19417.73],
   ['2022-10-08', 19544.82],
   ['2022-10-07', 19956.49],
   ['2022-10-06', 20167.79],
   ['2022-10-05', 20342.25],
   ['2022-10-04', 19632.61],
   ['2022-10-03', 19049.72],
   ['2022-10-02', 19314.69],
   ['2022-10-01', 19427.2],
   ['2022-09-30', 19598.86],
   ['2022-09-29', 19530.71],
   ['2022-09-28', 19104.89],
   ['2022-09-27', 19227.26],
   ['2022-09-26', 18807.71],
   ['2022-09-25', 18931.79],
   ['2022-09-24', 19280.58],
   ['2022-09-23', 19408.63],
   ['2022-09-22', 18507.36],
   ['2022-09-21', 18879.96],
   ['2022-09-20', 19542.2],
   ['2022-09-19', 19415.86],
   ['2022-09-18', 20122.71],
   ['2022-09-17', 19787.61],
   ['2022-09-16', 19694.69],
   ['2022-09-15', 20219.55],
   ['2022-09-14', 20172.56],
   ['2022-09-13', 22392.71],
   ['2022-09-12', 21794.52],
   ['2022-09-11', 21673.03],
   ['2022-09-10', 21387.58],
   ['2022-09-09', 19327.53],
   ['2022-09-08', 19280.08],
   ['2022-09-07', 18806.7],
   ['2022-09-06', 19789.87],
   ['2022-09-05', 19994.65],
   ['2022-09-04', 19834.94],
   ['2022-09-03', 19952.91],
   ['2022-09-02', 20130.52],
   ['2022-09-01', 20047.68],
   ['2022-08-31', 19793.02],
   ['2022-08-30', 20290.41],
   ['2022-08-29', 19550.07],
   ['2022-08-28', 20035.59],
   ['2022-08-27', 20233.32],
   ['2022-08-26', 21597.93],
   ['2022-08-25', 21377.51],
   ['2022-08-24', 21516.02],
   ['2022-08-23', 21402.93],
   ['2022-08-22', 21520.51],
   ['2022-08-21', 21150.33],
   ['2022-08-20', 20843.22],
   ['2022-08-19', 23193.99],
   ['2022-08-18', 23332.09],
   ['2022-08-17', 23876.29],
   ['2022-08-16', 24096.19],
   ['2022-08-15', 24314.89],
   ['2022-08-14', 24447.13],
   ['2022-08-13', 24418.38],
   ['2022-08-12', 23953.77],
   ['2022-08-11', 23959.92],
   ['2022-08-10', 23156.31],
   ['2022-08-09', 23816.32],
   ['2022-08-08', 23174.25],
   ['2022-08-07', 22947.19],
   ['2022-08-06', 23295.14],
   ['2022-08-05', 22608.3],
   ['2022-08-04', 22831.85],
   ['2022-08-03', 22981.77],
   ['2022-08-02', 23298.94],
   ['2022-08-01', 23326.49],
   ['2022-07-31', 23647.99],
   ['2022-07-30', 23792.0],
   ['2022-07-29', 23856.25],
   ['2022-07-28', 22950.29],
   ['2022-07-27', 21267.33],
   ['2022-07-26', 21300.72],
   ['2022-07-25', 22582.4],
   ['2022-07-24', 22461.7],
   ['2022-07-23', 22687.08],
   ['2022-07-22', 23154.09],
   ['2022-07-21', 23227.22],
   ['2022-07-20', 23403.29],
   ['2022-07-19', 22538.08],
   ['2022-07-18', 20774.23],
   ['2022-07-17', 21197.1],
   ['2022-07-16', 20835.61],
   ['2022-07-15', 20568.9],
   ['2022-07-14', 20223.69],
   ['2022-07-13', 19292.99],
   ['2022-07-12', 19946.31],
   ['2022-07-11', 20834.61],
   ['2022-07-10', 21582.6],
   ['2022-07-09', 21636.45],
   ['2022-07-08', 21633.44],
   ['2022-07-07', 20545.61],
   ['2022-07-06', 20181.91],
   ['2022-07-05', 20208.45],
   ['2022-07-04', 19288.97],
   ['2022-07-03', 19224.75],
   ['2022-07-02', 19226.7],
   ['2022-07-01', 19865.7],
   ['2022-06-30', 20085.93],
   ['2022-06-29', 20256.61],
   ['2022-06-28', 20702.23],
   ['2022-06-27', 21020.04],
   ['2022-06-26', 21481.38],
   ['2022-06-25', 21194.68],
   ['2022-06-24', 21088.3],
   ['2022-06-23', 19953.71],
   ['2022-06-22', 20703.51],
   ['2022-06-21', 20582.29],
   ['2022-06-20', 20540.38],
   ['2022-06-19', 18977.51],
   ['2022-06-18', 20434.75],
   ['2022-06-17', 20350.48],
   ['2022-06-16', 22550.79],
   ['2022-06-15', 22189.29],
   ['2022-06-14', 22431.22],
   ['2022-06-13', 26593.3],
   ['2022-06-12', 28344.5],
   ['2022-06-11', 29059.41],
   ['2022-06-10', 30083.46],
   ['2022-06-09', 30189.25],
   ['2022-06-08', 31117.83],
   ['2022-06-07', 31349.82],
   ['2022-06-06', 29901.35],
   ['2022-06-05', 29845.23],
   ['2022-06-04', 29681.76],
   ['2022-06-03', 30429.88],
   ['2022-06-02', 29780.81],
   ['2022-06-01', 31776.27],
   ['2022-05-31', 31715.58],
   ['2022-05-30', 29448.74],
   ['2022-05-29', 29013.69],
   ['2022-05-28', 28578.89],
   ['2022-05-27', 29193.92],
   ['2022-05-26', 29518.59],
   ['2022-05-25', 29634.57],
   ['2022-05-24', 29074.33],
   ['2022-05-23', 30278.94],
   ['2022-05-22', 29409.92],
   ['2022-05-21', 29159.5],
   ['2022-05-20', 30289.87],
   ['2022-05-19', 28680.97],
   ['2022-05-18', 30406.69],
   ['2022-05-17', 29834.09],
   ['2022-05-16', 31277.43],
   ['2022-05-15', 30074.61],
   ['2022-05-14', 29234.06],
   ['2022-05-13', 28931.14],
   ['2022-05-12', 28907.15],
   ['2022-05-11', 31003.93],
   ['2022-05-10', 30175.71],
   ['2022-05-09', 34082.21],
   ['2022-05-08', 35471.42],
   ['2022-05-07', 36013.03],
   ['2022-05-06', 36549.9],
   ['2022-05-05', 39674.89],
   ['2022-05-04', 37727.19],
   ['2022-05-03', 38510.65],
   ['2022-05-02', 38475.48],
   ['2022-05-01', 37661.19],
   ['2022-04-30', 38596.28],
   ['2022-04-29', 39770.04],
   ['2022-04-28', 39249.28],
   ['2022-04-27', 38114.94],
   ['2022-04-26', 40472.7],
   ['2022-04-25', 39465.57],
   ['2022-04-24', 39429.01],
   ['2022-04-23', 39727.65],
   ['2022-04-22', 40514.01],
   ['2022-04-21', 41375.79],
   ['2022-04-20', 41507.3],
   ['2022-04-19', 40805.72],
   ['2022-04-18', 39711.45],
   ['2022-04-17', 40388.78],
   ['2022-04-16', 40566.2],
   ['2022-04-15', 39939.9],
   ['2022-04-14', 41148.06],
   ['2022-04-13', 40102.2],
   ['2022-04-12', 39488.62],
   ['2022-04-11', 42144.23],
   ['2022-04-10', 42787.69],
   ['2022-04-09', 42278.94],
   ['2022-04-08', 43464.32],
   ['2022-04-07', 43190.18],
   ['2022-04-06', 45508.16],
   ['2022-04-05', 46611.26],
   ['2022-04-04', 46425.52],
   ['2022-04-03', 45825.36],
   ['2022-04-02', 46282.56],
   ['2022-04-01', 45539.22],
   ['2022-03-31', 47064.16],
   ['2022-03-30', 47448.01],
   ['2022-03-29', 47115.93],
   ['2022-03-28', 46858.53],
   ['2022-03-27', 44542.39],
   ['2022-03-26', 44334.33],
   ['2022-03-25', 44004.47],
   ['2022-03-24', 42905.06],
   ['2022-03-23', 42372.67],
   ['2022-03-22', 41071.41],
   ['2022-03-21', 41250.83],
   ['2022-03-20', 42222.32],
   ['2022-03-19', 41795.77],
   ['2022-03-18', 40946.78],
   ['2022-03-17', 41133.08],
   ['2022-03-16', 39320.82],
   ['2022-03-15', 39680.6],
   ['2022-03-14', 37820.39],
   ['2022-03-13', 38809.18],
   ['2022-03-12', 38741.04],
   ['2022-03-11', 39437.89],
   ['2022-03-10', 41956.53],
   ['2022-03-09', 38753.1],
   ['2022-03-08', 38032.5],
   ['2022-03-07', 38407.69],
   ['2022-03-06', 39399.58],
   ['2022-03-05', 39141.25],
   ['2022-03-04', 42464.4],
   ['2022-03-03', 43934.85],
   ['2022-03-02', 44418.83],
   ['2022-03-01', 43226.36],
   ['2022-02-28', 37704.56],
   ['2022-02-27', 39103.91],
   ['2022-02-26', 39222.6],
   ['2022-02-25', 38344.78],
   ['2022-02-24', 37291.48],
   ['2022-02-23', 38262.17],
   ['2022-02-22', 37031.08],
   ['2022-02-21', 38382.32],
   ['2022-02-20', 40115.05],
   ['2022-02-19', 40014.55],
   ['2022-02-18', 40565.69],
   ['2022-02-17', 43948.81],
   ['2022-02-16', 44536.2],
   ['2022-02-15', 42580.94],
   ['2022-02-14', 42104.89],
   ['2022-02-13', 42245.56],
   ['2022-02-12', 42401.27],
   ['2022-02-11', 43531.11],
   ['2022-02-10', 44397.3],
   ['2022-02-09', 44133.28],
   ['2022-02-08', 43834.02],
   ['2022-02-07', 42450.98],
   ['2022-02-06', 41435.43],
   ['2022-02-05', 41584.19],
   ['2022-02-04', 37092.4],
   ['2022-02-03', 36912.68],
   ['2022-02-02', 38739.74],
   ['2022-02-01', 38521.79],
   ['2022-01-31', 37918.62],
   ['2022-01-30', 38186.49],
   ['2022-01-29', 37770.15],
   ['2022-01-28', 37146.85],
   ['2022-01-27', 36823.5],
   ['2022-01-26', 36948.81],
   ['2022-01-25', 36678.82],
   ['2022-01-24', 36280.82],
   ['2022-01-23', 35071.43],
   ['2022-01-22', 36480.85],
   ['2022-01-21', 40684.42],
   ['2022-01-20', 41707.85],
   ['2022-01-19', 42381.48],
   ['2022-01-18', 42248.35],
   ['2022-01-17', 43102.44],
   ['2022-01-16', 43146.53],
   ['2022-01-15', 43099.37],
   ['2022-01-14', 42546.44],
   ['2022-01-13', 43926.0],
   ['2022-01-12', 42723.37],
   ['2022-01-11', 41849.0],
   ['2022-01-10', 41864.44],
   ['2022-01-09', 41690.93],
   ['2022-01-08', 41528.04],
   ['2022-01-07', 43120.63],
   ['2022-01-06', 43436.17],
   ['2022-01-05', 45862.98],
   ['2022-01-04', 46441.99],
   ['2022-01-03', 47327.87],
   ['2022-01-02', 47763.33],
   ['2022-01-01', 46249.56],
   ['2021-12-31', 47132.96],
   ['2021-12-30', 46408.87],
   ['2021-12-29', 47601.26],
   ['2021-12-28', 50692.3],
   ['2021-12-27', 50801.11],
   ['2021-12-26', 50470.89],
   ['2021-12-25', 50814.92],
   ['2021-12-24', 50785.69],
   ['2021-12-23', 48628.35],
   ['2021-12-22', 48934.57],
   ['2021-12-21', 46910.13],
   ['2021-12-20', 46689.28],
   ['2021-12-19', 46863.67],
   ['2021-12-18', 46173.51],
   ['2021-12-17', 47658.38],
   ['2021-12-16', 48884.66],
   ['2021-12-15', 48392.79],
   ['2021-12-14', 46757.09],
   ['2021-12-13', 50117.25],
   ['2021-12-12', 49379.67],
   ['2021-12-11', 47137.46],
   ['2021-12-10', 47659.68],
   ['2021-12-09', 50511.12],
   ['2021-12-08', 50645.41],
   ['2021-12-07', 50564.63],
   ['2021-12-06', 49380.43],
   ['2021-12-05', 49253.86],
   ['2021-12-04', 53713.84],
   ['2021-12-03', 56508.48],
   ['2021-12-02', 57229.76],
   ['2021-12-01', 57025.79],
   ['2021-11-30', 57828.45],
   ['2021-11-29', 57292.28],
   ['2021-11-28', 54801.15],
   ['2021-11-27', 53588.21],
   ['2021-11-26', 58935.45],
   ['2021-11-25', 57187.54],
   ['2021-11-24', 57578.22],
   ['2021-11-23', 56301.52],
   ['2021-11-22', 58755.9],
   ['2021-11-21', 59777.98],
   ['2021-11-20', 58133.02],
   ['2021-11-19', 56921.34],
   ['2021-11-18', 60381.35],
   ['2021-11-17', 60172.26],
   ['2021-11-16', 63584.25],
   ['2021-11-15', 65468.75],
   ['2021-11-14', 64420.94],
   ['2021-11-13', 64254.67],
   ['2021-11-12', 64838.81],
   ['2021-11-11', 64976.73],
   ['2021-11-10', 66954.11],
   ['2021-11-09', 67562.17],
   ['2021-11-08', 63293.22],
   ['2021-11-07', 61516.31],
   ['2021-11-06', 61072.32],
   ['2021-11-05', 61441.83],
   ['2021-11-04', 62954.86],
   ['2021-11-03', 63241.11],
   ['2021-11-02', 61029.5],
   ['2021-11-01', 61373.44],
   ['2021-10-31', 61731.29],
   ['2021-10-30', 62249.18],
   ['2021-10-29', 60587.09],
   ['2021-10-28', 58538.49],

In [16]:
import yfinance as yf
import pandas as pd



start_date = start_date
end_date = end_date

# Retrieve gold price data using yfinance
gold_data = yf.download('GC=F', start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [17]:
gold_data.size

15072